---
    import '../css/global.css';
    import Layout from "../layouts/layout.astro";
    import Choice from "../components/choice.svelte";
---

<Layout title="Princess <3">
    <main class="px-8">
        <h1>Hey. . .</h1>
        <article class="text-lg indent-2 my-3">
            <p class="mb-3">Sooooooo I know you were really looking forward to me being at this game. And I did really wanna be here, even if you don't fully believe me. I really, really fucking wanted to be here. But I'm not :/</p>
            <p class="mt-3">Sooooooo Instead I made this dumb webpage so I could give u the ring <3</p>
        </article>
        <Choice client:load />
    </main>
</Layout>

<style>
    h1{
        font-family: 'Caveat', cursive;
        font-weight: 700;
        text-align: center;
        color: #7FFFD4;
        @apply text-7xl tracking-widest border-b-[#C0BABC]/25 border-2 border-transparent py-3;
    }
</style>