@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-800 text-gray-50 dark:bg-gray-50 dark:text-gray-800
}

@layer components{
    .debugBorder{ @apply border border-sky-500 }
    .sideHeader{ @apply text-center flex space-x-2 justify-center p-2 border-b-2 border-gray-50 dark:border-gray-800 }
    .sideH2{ @apply font-bold text-2xl }
    .sideH3{ @apply font-semibold text-xl }
    .codeBox{ @apply bg-gray-900 dark:bg-gray-300 pb-1 max-w-max px-6 rounded-md flex drop-shadow-sm tracking-wider }

    .defaultBox{ @apply flex w-screen place-content-center 2xl:max-w-[88.5rem] xl:max-w-[72.5rem] lg:max-w-[56.5rem] md:max-w-[40.5rem] sm:max-w-[32.5rem] justify-self-center}
    .pDefault{ @apply p-1 text-center }

    .defaultGrid{ @apply grid rounded-md px-1 shadow-sm bg-gray-700 dark:bg-gray-200 snap-center snap-normal }
    .topItem{ @apply text-xl font-semibold border-b border-gray-50 dark:border-gray-700 }
    .leftItem{ @apply col-span-1 border-r border-gray-50 dark:border-gray-700 p-1 }
    .gridBorder{ @apply border-gray-50 dark:border-gray-700 }
}