@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-800 text-gray-50 dark:bg-gray-50 dark:text-gray-800
}

@layer components{
    .debugBorder{ @apply border border-green-500 }
    .sideHeader{ @apply text-center flex space-x-2 justify-center p-2 border-b-2 border-gray-50 dark:border-gray-800 }
    .sideH2{ @apply font-bold text-2xl }
    .sideH3{ @apply font-semibold text-xl }

    .pDefault{ @apply py-1 text-center }

    .defaultGrid{ @apply grid rounded-md px-1 shadow-sm bg-gray-700 dark:bg-gray-200 snap-center snap-always }
    .topItem{ @apply text-xl font-semibold border-b border-gray-50 dark:border-gray-700 }
    .leftItem{ @apply col-span-1 border-r border-gray-50 dark:border-gray-700 p-1 }
    .gridBorder{ @apply border-gray-50 dark:border-gray-700 }

    .textLink{ @apply underline transition-colors duration-150 ease-in}
}