/* You can add global styles to this file, and also import other style files */

// #region Color theme code
@use '@angular/material' as mat;

@include mat.core();

// $TechFishe-Light-Primary: mat.define-palette(mat.$gray-palette, 50);
// $TechFishe-Light-Accent: mat.define-palette(mat.$gray-palette, 800);

$TechFishe-Dark-Primary: mat.define-palette(mat.$gray-palette, 800);
$TechFishe-Dark-Accent: mat.define-palette(mat.$gray-palette, 900);

$TechFishe-Warn: mat.define-palette(mat.$cyan-palette, A200);

// $TechFishe-Theme-Light: mat.define-light-theme((
//   color: (
//     primary: $TechFishe-Light-Primary,
//     accent: $TechFishe-Light-Accent,
//     warn: $TechFishe-Warn,
//   )
// ));

$TechFishe-Theme-Dark: mat.define-dark-theme((
  color: (
    primary: $TechFishe-Dark-Primary,
    accent: $TechFishe-Dark-Accent,
    warn: $TechFishe-Warn,
  )
));

@include mat.all-component-themes($TechFishe-Theme-Dark);
// #endregion

html, body {
    height: 100%;
    background-color: #424242;
    color: white;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}